/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}

a.plain-link,
a.plain-link:visited,
a.plain-link:hover,
a.plain-link:active {
color: #ffffff !important;
text-decoration: underline !important;
}

.resume-link {
  font-size: 30px;
  color: #ffffff;
  text-decoration: underline;
}

.center-image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bigger {
  font-size: 70px;
}

.project-link {
  font-size: 20px;
  color: #ffffff;
  text-decoration: underline;
}

.project-card {
  width: 33%;
  display: inline-block;   /* keeps it aligned left */
  vertical-align: top;
}

.project-image {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-image-3 {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}